            body{
                background-image: url(imagens/portugal1.jfif);
                background-size: left;
                color: blueviolet;
                text-align: right;
                margin: 0px 80px 0px 0px;  
                margin-right: 80px; 
                font-family: 'Zilla Slab', serif;;
            }
                    h1{
                        font-size: 100px;
                        padding-top: 280px;
                        margin-bottom: 15px;

                    }
                    p{
                        font-size: 40px;
                        font-weight: bold;
                        margin: 0;
                        opacity: 0.8;
                    }
                    span{
                        color: darkgreen;
                    }
                    ul{
                        margin-top: 50px;
                    }
                    li{
                        display: inline;
                    }
                    ul li a {
                        color: forestgreen;
                    text-decoration: none;
                    font-size: 15px;
                    padding: 5px;
                    }

                        segundo-parag{
                            margin-bottom: 60px;
                        }
                        botao{
                            text-decoration: none;
                            background-color: black ;
                            padding: 10px 15px;
                            color: beige;
                        } 
                        .botao:hover{
                            background-color: crimson;
                        }