            body{
                background-image: url(imagens/portugal6.jfif);
                background-size: cover;
                background-repeat: no-repeat;
                background-attachment: fixed;
                color: black;
                text-align: right;
                margin: 0px 80px 0px 0px;  
                margin-right: 80px; 
                font-family: 'Zilla Slab', serif;;
            }
                    h1{
                        font-size: 100px;
                        padding-top: 280px;
                        margin-bottom: 15px;

                    }
                    p{
                        font-size: 40px;
                        font-weight: bold;
                        margin: 0;
                        opacity: 0.8;
                    }
                    span{
                        color: darkgreen;
                    }
                    ul{
                        margin-top: 50px;
                    }
                    li{
                        display: inline;
                    }
                    ul li a {
                        color: white;
                    text-decoration: none;
                    font-size: 20px;
                    padding: 5px;
                    }

                        segundo-parag{
                            margin-bottom: 60px;
                        }
                        botao{
                            text-decoration: none;
                            background-color: black ;
                            padding: 10px 15px;
                            color: beige;
                        } 
                        .botao:hover{
                            background-color: green;
                            opacity: 0.8;
                            
                         @media (max: width 640px;{
                            body {
                                background: blue;
                                text-align: center;
                            }
                            
                         h1{
                         font-size: 70px;
                         margin-bottom: 70px;
                         padding-top: 180px;
                         }
                          
                         p{
                            font-size: 30px;
                         }
                         .segundo-paragrafo{
                            margin-top: 20px;
                         }
                         }
                         /* breakpoints mais comuns
                         tlm: 640px
                         tablet:1024px
                         desktop: 1280px
                         xl desktop: 1536px
                               /*

                         


                         
             
                
